# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print (number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1+num2

print(result)

result += 2
print (result)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [13]:
result_mul = num1 * num2
print(result_mul)
result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [17]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [19]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [21]:
result_mod = 10 % 3
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [23]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [28]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [29]:
print("This is my first name:" , name)

print("Full Name: ", name, end=" Trash")

This is my first name: Joel
Full Name:  Joel Trash

##### String Concatenation

In [33]:
first_name = "Dedrick"
last_name = "Jackson"

full_name = first_name + " " + last_name
print(full_name)
full_name += " Jackoff"
print(full_name)

Dedrick Jackson
Dedrick Jackson Jackoff

Type Conversion

In [35]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [39]:
# Input will always return a string

# name = input ('What is your name? ')
# print("Nice to meet you, " + name)
age = int(input("What is yout age?: "))
add_age = age + 5
print (add_age)

What is yout age?: 21
26

##### format()

In [42]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 26
You are 26 Joel and you are getting wiser!
26 is a great time in life!!!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are 26 and you look great for your age!"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [47]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1
if num2 < num1 or num3 <0:
    print("This ran!")
else:
    print("You are here")

You are here

##### 'is' keyword

In [48]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [51]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [52]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [55]:
num_11= 15
num_12 = 3
num_13 = 10
num_14 = 3

# if qith 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
    # if with 'or' statement
    if num_11 > num_12 or num_13 == num_14:
        print("True and True")

True and True

### Elif Statements

In [58]:
first_name = input('What is your name? ')

if first_name == 'Smith,':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The first name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Dedrick Jackson
The name is NOT Max

### Else Statements

In [57]:
# see above

### For Loops

In [62]:
# Synax:
# for counter in condition

name = 'Dedrick Jackson'

for letter in name:
    print(letter)

D
e
d
r
i
c
k

J
a
c
k
s
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [65]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [68]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [69]:
name = 'dedrick jackson'
for i in name:
    pass

##### Double For Loops

In [71]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [ ]:
# syntax:
# while keyboard, condition statement

num = 0

while num < 10:
    print(num)

##### Looping 'While True'

In [72]:
game_over = False

while True:
    print('infinite Loop')
    if game_over == False:
        break

infinite Loop

##### While & For Loops Used Together

In [6]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("for loop interation: ", str(i+1))
        break()

SyntaxError: invalid syntax (3687752176.py, line 8)

### Built-In Functions

##### range()

In [78]:
# range (Start, stop, step)

for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [79]:
name = 'dedrick'

length = len(name)
print(length)

7

##### help()

In [80]:
# Use this function to view more info about a python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [82]:
#check a variable to find out what object family (or data type) it belongs to
#isinstance(var, type)

num = input("Pick a number ")
if isinstance(int(num, int):
    print(f"{num}is an int")
else:
    print(f" {num} is a float!")

Pick a number 6
 6 is a float!

##### abs()

In [83]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [85]:
# use this to log out graceful and useful error messages
# Does not stop the program! Neato!
try:
    number_test = 0
    input_num = int (input('Guess a number '))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work: Change your input to a number!")

Guess a number 1
Your number is 1

### Lists

##### Declaring Lists

In [88]:
list_1 = []

names = ['Max', 'Fred', 'Kathy', 'Adam', 'Dom']
print (name)

['Max', 'Fred', 'Kathy', 'Adam', 'Dom']

##### Indexing a List

In [98]:
# list_name(start, stop, step)

#single index
print(names[0])

#print starting a indez 1 going to the end
print(names[1:])

#print starting at thr beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up BY 2 in each iteration
print(names[1:2])

#print starting at the back and display in reverse order
print(names[::-1])

Max
['Fred', 'Kathy', 'Adam', 'Dom']
['Max', 'Fred']
['Fred']
['Dom', 'Adam', 'Kathy', 'Fred', 'Max']

##### .append()

In [99]:
names.append('Dedrick')
print(names)

['Max', 'Fred', 'Kathy', 'Adam', 'Dom', 'Dedrick']

##### .insert()

In [102]:
names.insert(3,'Jack')
print(names)

['Max', 'Fred', 'Kathy', 'Jack', 'Adam', 'Dom', 'Dedrick']

##### .pop()

In [104]:
# Defaults to the last value if no parameter 1s given 
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Fred', 'Jack', 'Adam', 'Dom', 'Dedrick']

.remove()

In [106]:
# Value to be removed rather than index
# Names.remove('bob')
# Print(names)

# remove multiple Brandons for list
while 'Max' in names:
    names.remove('Max')
print(names)

['Fred', 'Jack', 'Adam', 'Dom', 'Dedrick']

##### del()

In [108]:
# Goes by indez, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Fred', 'Adam', 'Dom', 'Dedrick']

##### Concatenating Two Lists

In [112]:
# Will append two lists together, will NOT add the value!

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# List can hold any type of other element: Including other lists
# They can go as deep as want; this is called neated lists

names = [ "Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [118]:
# Two ways to loop a list: One is by index: The other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    # Loop with 'in'
    for i in names:
        print(i)

Max
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Sam
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Josh
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [119]:
for i in range(1,11):
    cube = i ** 3
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [121]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for num in range(1, 100):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [125]:
age = int(input("Enter your age: "))
if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

Enter your age: 66
seniors

In [124]:
66

66